{% extends 'templates/base.njk' %}

{% set title = "On Language" %}

{% block body %}
  <div id="canvas" class="content content-canvas">
    <p class="on-language__p" style="max-width:56ch;">
      <span class="on-language__i">On Language</span> is an experiment in coercing <a href="https://chat.openai.com/" class="on-language__a" target="_blank">ChatGPT</a> to create languages and structured data responses. The languages created can then be used as a direct creative input. <a href="https://p5js.org/get-started/" class="on-language__a" target="_blank">P5.js</a> and <a href="https://tonejs.github.io/" class="on-language__a" target="_blank">Tone.js</a> are directly embedded into this site, but any creative platform could use the returned data.
    </p>
    <p class="caption">
      <a href="http://kenfrederick.de/" target="_blank" class="on-language__a">Ken Frederick</a> 2022/23
    </p>
  </div>
{% endblock %}
